@import "tailwindcss";
@plugin "@tailwindcss/typography";

@import "tailwind-animations";

@import "aos/dist/aos.css";

@theme inline {
  --font-sans:
    var(--font-calibre), -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
    Cantarell, sans-serif;
}

* {
  font-family: var(--font-sans);
}

html,
body {
  font-family: var(--font-sans);
  line-height: 1.5;
}

html {
  scroll-behavior: smooth;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: 0.01em;
}

@theme {
  --animate-typewriter: typewriter 2s steps(12) forwards;
  --animate-caret: typewriter 2s steps(12) forwards, blink 1.25s steps(2) infinite 2s;

  @keyframes typewriter {
    to {
      left: 100%;
    }
  }

  @keyframes blink {
    0% {
      opacity: 0;
    }
    49.99% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    50.1% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }
}
