---
import Layout from "../layouts/Layout.astro";
import Nav from "../components/Nav.astro";
import Hero from "../components/Hero.astro";
import Stack from "../components/Stack.astro";
import Experience from "../components/Experience.astro";
import Video from "../components/Video.astro";
import "../styles/global.css";
---

<Layout>
  <Video src="/assets/videos/background.webm" poster="/assets/images/background-poster.jpg" />

  <div class="relative z-10">
    <Nav />
    <Hero />
    <Stack />
    <Experience />
  </div>
</Layout>
