---
import Experience from "../components/Experience.astro";
import Hero from "../components/Hero.astro";
import Nav from "../components/Nav.astro";
import Stack from "../components/Stack.astro";
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
---

<Layout>
  <div class="relative z-10">
    <Nav />
    <Hero />
    <Stack />
    <Experience />
  </div>
</Layout>
